@charset "utf-8";

@media(min-width:768px){
	.desktop-menu{
		        display:block;
		        float:right;
	}

	.desktop-menu li{
		           display:inline-block;
		      	}
}

@media(max-width:768px){
	.mobile-menu{
		        display:block;
		        float:right;
		        padding:5px;
		        margin-top:10px;
	}
.mobile-menu li{
		           display:inline-block;
		      	}

}


@media(max-width:480px){

    .icon{
          padding:5px;
          margin-top:20px;

    }

}