@charset "utf-8";

@media(min-width:768px){
	.desktop-menu{
		        display:block;
		        float:right;
	}

	.desktop-menu li{
		           display:inline-block;
		      	}
}

@media(max-width:768px){
	.mobile-menu{
		        display:block;
		        float:right;
		        padding:5px;
		        margin-top:10px;
	}
.mobile-menu li{
		           display:inline-block;
		      	}

.about-title-br{
                display:none;
}

.icon-col{
	     padding-left:8px;
}

.about-img{
	       margin-top:0px;
}

}


@media(max-width:480px){

   .about-icon-des{
   	              padding-left:40px;  
   }

   .about-icon-des p{
   	               text-align:justify;
   }

}